{% extends 'base.html.twig' %}

{% block title %}iBook - {{ "default.contact.contact" | trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}"/>
{% endblock %}


{% block body %}

<div class="bg-tertiary">
    <div class="container section-header no-breadcrumb">
        <h1 class="text-center mb-0">{{ "default.contact.formTitle" | trans }}</h1>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <label>
                    {{ "default.contact.firstName" | trans }}
                </label>
                <span class="required">*</span>
                {{ form_widget(form.firstName) }}
            </div>

            <div class="form-group">
                <label>
                    {{ "default.contact.lastName" | trans }}
                </label>
                <span class="required">*</span>
                {{ form_widget(form.lastName) }}
            </div>

            <div class="form-group">
                <label>
                    {{ "default.contact.phone" | trans }}
                </label>
                <span class="required">*</span>
                {{ form_widget(form.phoneNumber) }}
            </div>

            <div class="form-group">
                <label>
                    {{ "default.contact.message" | trans }}
                </label>
                <span class="required">*</span>
                {{ form_widget(form.messageContent) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

    {% endblock %}
