{% extends 'base.html.twig' %}

{% block title %}iBook - {{ "default.contact.contact" | trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}"/>
{% endblock %}


{% block body %}

<div class="bg-tertiary">
    <div class="container section-header no-breadcrumb">
        <h1 class="text-center mb-0">{{ "default.contact.formTitle" | trans }}</h1>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="form-group">
                <label>
                    {{ "default.contact.firstName" | trans }}
                </label>
                <span class="required">*</span>
                <input placeholder="Jean" type="text"/>
            </div>

            <div class="form-group">
                <label>
                    {{ "default.contact.lastName" | trans }}
                </label>
                <span class="required">*</span>
                <input placeholder="Dupont" type="text"/>
            </div>

            <div class="form-group">
                <label>
                    {{ "default.contact.phone" | trans }}
                </label>
                <span class="required">*</span>
                <input placeholder="0651727985" type="tel"/>
            </div>

            <div class="form-group">
                <label>
                    {{ "default.contact.message" | trans }}
                </label>
                <span class="required">*</span>
                <textarea placeholder="{{ "default.contact.messagePlaceholder" | trans }}"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary">{{ "default.contact.send" | trans }}</button>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
