{% extends 'base.html.twig' %}

{% block title %}iBook - {{ "shop.products.title" | trans }}{% endblock %}

{% block body %}
    <div class="bg-tertiary">
        <div class="container section-header no-breadcrumb">
            <h1 class="text-center mb-0">{{ "shop.products.title" | trans }}</h1>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('images/product-placeholder.jpeg') }}"
                             alt="{{ product.libelle }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.libelle }} - {{ product.prix }}</h5>
                            <p class="card-text">{{ product.texte }}</p>
                            <a href="#" class="btn btn-primary">{{ "shop.buyNow" | trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
