{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="bg-tertiary">
        <div class="container section-header no-breadcrumb">
            <h1 class="text-center mb-0">{{ "default.nav.profile" | trans }}</h1>
        </div>
    </div>
    <div class="container mt-4">
        {% if user is not null %}
            <p>Bonjour {{ user.firstName }} {{ user.lastName }}</p>
            <a href="{{ path('app_logout') }}">Me déconnecter</a>
            <a href="{{ path('shopping-cart') }}">Aller à mon panier</a>
        {% else %}
            <p>Vous n'êtes pas connecté</p>
        {% endif %}
    </div>


{% endblock %}
