{% extends 'base.html.twig' %}

{% block title %}iBook - Mon panier{% endblock %}

{% block body %}
    <div class="bg-tertiary">
        <div class="container section-header no-breadcrumb">
            <h1 class="text-center mb-0">Mon panier</h1>
        </div>
    </div>
    <div class="container mt-4">
        {% if cart | length > 0 %}
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in cart %}
                    <tr>
                        <th scope="row"><img style="width: 286px; height: auto; max-height: 377px" src="{{ product.getImageUri() }}"/></th>
                        <td>{{ product.getLabel() }}</td>
                        <td>{{ product.getQuantity() }}</td>
                        <td>
                            <a href="{{ path('remove-from-cart', {productId: product.getId()}) }}" class="btn btn-danger"><i class="material-icons align-middle">remove</i></a>
                            <a href="{{ path('add-to-cart', {productId: product.getId()}) }}" class="btn btn-success"><i class="material-icons align-middle">add</i></a>
                            <a href="{{ path('reset-cart-item', {productId: product.getId()}) }}" class="btn btn-danger"><i class="material-icons align-middle">delete</i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="floating-container">
                <a href="{{ path('reset-cart') }}" style="float: right; position: relative;" class="ml-2 btn btn-primary">Payer</a>
                <a href="{{ path('reset-cart') }}" style="float: right; position: relative;" class="white-text-btn-danger btn btn-danger mb-3">Vider mon panier</a>

            </div>
        {% else %}
            <p>Ooops! On dirait que votre panier est vide</p>
        {% endif %}
    </div>


{% endblock %}
