{% extends 'base.html.twig' %}

{% block title %}iBook - Mon panier{% endblock %}

{% block body %}
    <div class="bg-tertiary">
        <div class="container section-header no-breadcrumb">
            <h1 class="text-center mb-0">Ma Commande</h1>
        </div>
    </div>
    <div class="container mt-4">
        <p>Description :</p>
        <ul>
            <li>
                Total : {{ command.getTotalPrice() | currency_convert | format_currency(currency) }}.
            </li>
            <li>
                Numéro de commande : {{ command.getId() }}.
            </li>
            <li>
                Date : {{ command.getCreatedAt() | date("d/m/Y", "Europe/Paris") }}.
            </li>
        </ul>
    </div>

    <div class="container mt-4">
    {% for lastCommand in history %}
        <h3>Commande numéro {{ lastCommand.id }}, passée le {{ lastCommand.getCreatedAt() | date("d/m/Y", "Europe/Paris") }}, total : {{ lastCommand.getTotalPrice() | currency_convert | format_currency(currency) }}</h3>
        <ul>
            {% for commandLine in lastCommand.getCommandLines() %}
                <li>{{ commandLine.product.getLabel() }} x {{ commandLine.getQuantity() }} - {{ (commandLine.getPrice() * commandLine.getQuantity() )| currency_convert | format_currency(currency) }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
{% endblock %}